<!DOCTYPE html>
<html lang="en">
<style>
    h2 {
        background-color: lightgrey;
        border : 0;
        clear: left;
        padding: 0.5em;
        text-align: left;
        margin-top:0;
    }
    #center
    { position:absolute; top:50%; left:40%; width:500px; height:300px; overflow:hidden;  margin-top:-150px; margin-left:-100px;}
</style>
<head>
    <meta charset="UTF-8">
    <title>암 진단 결과</title>
    <h2><img src = "lung_cancer.JPG" width="30" height="30" align="absmiddle"/>  암 진단 결과</h2>
</head>
<body>
<div id="center">
    <br><br>
    <p style="font-size:25px; color:red; text-align:center;"> <strong>폐암으로 판정 되었습니다.</strong></p>
    <p style="font-size:15px; text-align:center; ">저희 서비스는 OO%의 정확도를 가지고 있습니다. <br>
        <strong style="font-size:17px; ">정확한 진단</strong>을 위해 <strong style="font-size:17px; ">병원 방문</strong>을 추천합니다!</p>
</div>
</body>
</html>